

.wrap {
    width: 50%;
}

li {
    list-style: none;
}

.colorchoose {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.colorchoose label {
    position: absolute;
    margin-left: 0.8em;
    text-transform: uppercase;
    user-select: none;
    z-index: 1;
    pointer-events: none;
    
}

.colorchoose input[type="color"] {
    width: 100%;
    position: relative;
    height: 2.5em;
    background-color: unset;
    border: none;
    z-index: 0;
    display: block;
}