
/* HEADER */

header {
    min-height: 10vh;
    display: flex;
    max-width: 100vw;
    flex-flow: row wrap;
    margin: 1em 0;
}

/* MENU */

nav {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

ul#menu {
    list-style: none;
    display: flex;
    margin: 1em;
}

ul#menu li {
    margin: 0.5em;
}
ul#menu li a {
    text-transform: uppercase;
    color: var(--dark-blue);
    text-decoration: none;
    font-weight: 600;
    font-size: 1.4em;
}


ul#menu li a.active {
    color: var(--red);
    font-weight: 900;
}

ul#menu li a:visited {
    text-decoration: none;
}

ul#liens_utiles li figure a, ul#liens_utiles li figure a:visited {
    text-decoration: none;
    color: black;
} 

/* LOGO */

#logo {
    margin: 1em 0;
    min-height: 70px;
    justify-content: center;
    flex-grow: 2;
    display: flex;
}

#logo a img {
    height: 7vw;
    min-height: 50px;
    justify-self: center;
}

/* FONCTIONNALITES */

ul#liens_utiles {
    height: 7vw;
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    margin: 1em 2em;
}

ul#liens_utiles li {
    margin: 0.5em;
}

ul#liens_utiles li figure {
    justify-content: center;
    text-align: center;
}

ul#liens_utiles li figure img {
    justify-self: center;
    height: calc(6vw + 6px);
    max-height: 70px;
    width: auto;
}

ul#liens_utiles li figure img.utile-link-logo {
    filter: invert(17%) sepia(14%) saturate(2511%) hue-rotate(176deg) brightness(96%) contrast(92%);

}

ul#liens_utiles li figure img#disconnect-logo {
    filter: invert(28%) sepia(71%) saturate(2400%) hue-rotate(336deg) brightness(95%) contrast(90%);
}